body {
    font-family: 'Arial', sans-serif;
    background: url('https://media.istockphoto.com/id/498478219/pt/foto/c%C3%A9u-de-estrelas-%C3%A0-noite.jpg?s=612x612&w=0&k=20&c=0VRrZurbq64yASyoDPoHs8_EaIE6Sc972dRybkQBZ1E=') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(10, 10, 20, 0.8);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
    text-align: center;
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 2;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}

.input-group input {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.3rem;
    color: rgb(0, 166, 201);
}

input {
    border: none;
    outline: none;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.forgot-password {
    margin-top: 15px;
    color: #ccc;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    text-align: center;
}

.forgot-password:hover {
    color: white;
}

.alternative-login {
    margin-top: 25px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-btn img {
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
}

.social-btn:hover img {
    transform: scale(1.1);
}

.logo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
    border: none;
    box-shadow: none;
    outline: none;
    pointer-events: none;
}
