@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin:0 auto;
    padding: 0;
    font-family: "JetBrains Mono", serif;
    color: white;
}

#menu-img{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    background-color: rgb(4, 1, 16);
}
#logorion img{
    align-items: start;
}

#menu-h{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesq a{
    display: flex;
    justify-content: right;
    align-items: center;
}
#menu-h li {
    justify-content: center;
    align-items: center;
    list-style: none;

}

#menu-h li a{
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

#opass a{
    color:rgb(0, 166, 201);
}