@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

#menu{
    border:2px solid #040110;
    width: 100%;
    display: flex;
    background-color: #040110;   
}

.botoesmenu{
    font-family:'', Courier, monospace ;
}