* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid rgb(0, 183, 255);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.alien {
    position: absolute;
    bottom: 0;
    right: -80px; /* Corrigido */
    width: 100px;
    animation: alien-animation 2s infinite linear;
}

.astro {
    width: 100px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: astro-jump 500ms ease-out;
}

@keyframes alien-animation {
    from {
        right: -80px;    
    }
    to {
        right: 100%;
    }
}

@keyframes astro-jump {
    0% {
        bottom: 0;
    }
    40%, 50%, 60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}
