body{
    font-family: Arial, sans-serif;
    background: url('https://media.istockphoto.com/id/498478219/pt/foto/c%C3%A9u-de-estrelas-%C3%A0-noite.jpg?s=612x612&w=0&k=20&c=0VRrZurbq64yASyoDPoHs8_EaIE6Sc972dRybkQBZ1E=');
    color: white;
    max-width: 2000px;
    margin: 0 ;
    margin-top: 0;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 50px;
    margin: 0;
}


ul li{
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    font-size:25px;
    text-decoration: none;
}

ul li input{
    border: 2px solid ;
    color: #000000;
    padding: 10px;
    border-radius: 20px;
    width: 70%;
    margin-top: 0px
}

.img-position{
    display: inline-block;
}

.paragrafo{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}


main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 45px;
    line-height: 40px;
}
strong{
    color: #0C25E0;
    text-decoration: underline;
}

h3{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 25px;
}

img{
    width: 190px;
    margin-left: 0px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color:white ;
    transition: 0.3s all;
}

.logins-btn{
    border: 2px solid ;
    color: #0C25E0;
    padding: 10px;
    border-radius: 20px;
    width: 18%;
    margin-top: 15px;
    text-align: center;
}

.logins-btn:hover{
    background-color: #0C25E0;
    color: white;
    transition: 0.3s all;
}

.cadastro-bnt{
    border: 2px solid;
    color:#0C25E0;
    padding: 10px;
    border-radius: 20px;
    width: 18%;
    margin-top: 15px;
    text-align: center;
}

.cadastro-bnt:hover{
    background-color: #0C25E0;
    color: white;
    transition: 0.3s all;
}

#op:hover{
    color:#0C25E0;
    transition: 0.3s all   
}

#ml:hover{
    color:#0C25E0;
    transition: 0.3s all 
}

#in:hover{
    color:#0C25E0;
    transition: 0.3s all 
}

